<div class="container my-5" id="app">
    <div class="row mb-3">
        <div class="col-md-6">
            <h2 class="mb-4">Personal information</h2>
        </div>
        <div class="col-md-6 text-md-end">
            <a class="btn btn-outline-primary button-17" href="/account/profile">Edit profile</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 col-md-3">Name:</div>
        <div class="col"><strong>
                <%= req.me.fullName %>
            </strong></div>
    </div>
    <div class="row mb-3">
        <div class="col-4 col-md-3">Email:</div>
        <div class="col"><strong>
                <%= req.me.emailAddress %>
            </strong></div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-md-6">
            <h2 class="mb-4">Password</h2>
        </div>
        <div class="col-md-6 text-md-end">
            <a class="btn btn-outline-primary button-17" href="/account/password">Change password</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 col-md-3">Password:</div>
        <div class="col"><strong>••••••••••</strong></div>
    </div>
    <br>
    <hr>
    <hr>

    <div class="container">
        <div class="h2">Bestellungen:</div>
        <br>
        <ul class="list-group mb-4">
            <div v-if="alterVisible" class="alert alert-primary">
                Bestellung stoniert!
            </div>
            <li class="list-group-item" v-for="order in orders">
                <div class="row">
                    <div class="col-md-0 col-md-6 h3">
                        Bestellung: {{ order.id }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-0 col-md-6 h3">
                        Anschrift: {{ order.address }}
                    </div>

                    <div class="col-md-0 col-md-6 h3 d-flex justify-content-end">
                        Preis Total: {{ order.totalAmount }} €
                    </div>
                </div>
                <h3>Produkte:</h3>
                <ul>
                    <div v-for="item in order.item">
                        <li>
                            <div class="d-flex justify-content-between">
                                <span>{{ item.name }}</span>
                                <span>{{ item.price }} €</span>
                            </div>
                        </li>
                    </div>
                </ul>
                <div class="col-md-6">
                    <button class="button-17" @click="storno(order.id)">Stonieren</button>
                </div>
            </li>
            <li><br></li>
        </ul>
    </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

    <script type="module">
        import orderApp from './vue/orders.js'
        const { createApp } = Vue
        createApp(orderApp).mount("#app")
    </script>