<div id="login">
    <div class="container py-5">
        <h1 class="text-center mb-5">Melden Sie sich bei Ihrem Konto an</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="login" method="POST" id="loginForm" class="needs-validation">
                    <div class="form-group mb-4">
                        <label for="emailAddress" class="form-label">Email-Adresse:</label>
                        <input type="email" name="emailAddress" class="form-control" id="emailAddress"
                            placeholder="Email-Adresse" autocomplete="email" required>
                        <div class="invalid-feedback">Bitte geben Sie eine gültige E-Mail Adresse an.</div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="password" class="form-label">Passwort:</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Passwort"
                            autocomplete="current-password" required>
                        <div class="invalid-feedback">Bitte geben Sie Ihr Passwort ein.</div>
                    </div>
                   <div class="d-grid gap-2 mb-4">
                        <button type="submit" class="btn btn-primary btn-lg button-17">Sign in</button>
                        <a href="/signup" class="btn btn-secondary btn-lg button-17">Registrieren</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('loginForm').addEventListener('submit', function (event) {
        var email = document.getElementById('emailAddress').value;
        var password = document.getElementById('password').value;
        var errorMessage = document.getElementById('errorMessage');

        fetch('/api/controllers/entrance/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ emailAddress: email, password: password })
        })
            .then(function (response) {
                if (response.ok) {
                    // Anmeldung erfolgreich
                    return response.json();
                } else {
                    // Fehler beim Anmelden
                    return response.text().then(function (errorText) {
                        throw new Error(errorText);
                    });
                }
            })
            .then(function (data) {
                // Weiterleitung oder weitere Verarbeitung der Daten nach erfolgreicher Anmeldung
                window.location.href = '/views/pages/homepage.ejs';
            })
            .catch(function (error) {
                console.error('Ein Fehler ist aufgetreten', error);
                errorMessage.textContent = 'Das von Ihnen eingegebene Passwort ist falsch oder es gibt kein Konto mit der von Ihnen angegebenen E-Mail-Adresse. Bitte überprüfen Sie Ihre E-Mail-Adresse und geben Sie Ihr Passwort erneut ein.';
                errorMessage.style.display = 'block';
            });
    });
</script>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>