<div id="signup" class="pt-5 pb-5">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="text-center mb-4">Create an Account</h1>
                        <p class="text-center mb-4">Let's get started! Becoming a member is free and only takes a few
                            minutes.</p>
                        <hr />
                        <form action="signup" method="POST">
                            <div class="mb-3">
                                <label for="full-name" class="form-label">Full Name</label>
                                <input class="form-control" id="full-name" name="fullName" type="text"
                                    placeholder="Sturgis P. Sturgeon" autocomplete="name" autofocus required>
                                <div class="invalid-feedback">Please enter your full name.</div>
                            </div>
                            <div class="mb-3">
                                <label for="email-address" class="form-label">Email Address</label>
                                <input class="form-control" id="email-address" name="emailAddress" type="email"
                                    placeholder="sturgeon@example.com" autocomplete="email" required>
                                <div class="invalid-feedback">Please enter a valid email address.</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Choose a Password</label>
                                <input class="form-control" id="password" name="password" type="password"
                                    placeholder="••••••••" autocomplete="new-password" required>
                                <div class="invalid-feedback">Please enter a password.</div>
                            </div>
                            <div class="mb-3">
                                <label for="confirm-password" class="form-label">Confirm Password</label>
                                <input class="form-control" id="confirm-password" name="confirmPassword" type="password"
                                    placeholder="••••••••" autocomplete="new-password" required>
                                <div class="invalid-feedback">Your password and confirmation do not match.</div>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" id="terms-agreement" name="termsAgreement"
                                    type="checkbox" required>
                                <label for="terms-agreement" class="form-check-label">I have read and agree to the <a
                                        target="_blank" href="/terms">Terms of Service</a>.</label>
                            </div>
                            <span class="text-danger">It looks like there's already an account with your email address.
                                If you
                                forgot your password, you can recover it <a href="password/forgot">here</a>.</span>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-dark btn-lg btn-block">Create Account</button>
                            </div>
                        </form>
                        <p class="text-center">Already have an account? <a href="/login">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>