<div class="item-container">
    <div class="row">
        <% if(!req.me) { %>
            <a class="nav-link float-end button-17" href="/login" role="button" aria-expanded="false">
                Login/Registrieren
            </a>
            <% } else { %>
                <a class="nav-link float-end button-17" href="/order" role="button" aria-expanded="false">
                    Zum Shop
                </a>
                <% } %>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <% items.forEach(function(item){ %>
            <div class="col-12 col-md-4">
                <div class="card card2">
                    <a href="/item/<%= item.id %>" class="card-link">
                        <img src="https://wetebucket.s3.us-west-2.amazonaws.com/<%= item.picture %>" alt="Image 2" class="img-fluid rounded card-img">
                        <span class="card-caption card-caption-bottom-left">
                            <%= item.name %>
                        </span>
                    </a>
                </div>
            </div>
            <% }); %>
    </div>
</div>
