<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="images/croissants.jpg" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text">Product Name</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="images/croissants.jpg" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title"><%= item.description %></h5>
                    <p class="card-text">Product Description</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="images/croissants.jpg" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title"><%= item.price %></h5>
                    <p class="card-text">Product Preis</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>