body {
    color: #030506;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-padding {
    padding: 10px !important;
    margin: 0 !important;
}

a {
    color: #030506;
  }

.nav-container {
    background-color: #1c8da1;
    width: 100% !important;
    margin: 0px !important;
}

.sub_div {
    position: absolute;
    bottom: 5%;
}

.container {
    width: auto;
    margin: 0px !important;
    padding: 0px !important;
}

.container-fluid {
    padding: 0;
}

.header {

}

.logoname {
    font-size: 24px;
    font-family: 'Lucida Sans Regular', sans-serif;
    color: white;
    font-weight:bold;
}

.bottom-right-nav {
    position: sticky;
    bottom: 10px;
    right: 10px;
  }
  
.bottom-right-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}
  
.bottom-right-nav a {
    /*text-decoration: none; Text ohne Unterstreichung*/
    color: white;
    margin-left: 20px;
}

.main-container{
    background-color: #edf5f4;
    color: black;
    align-items: center;
    padding: 10px 20px;
}

footer{
    background-color: #1c8da1;
    color:white;
}

.address p {
    margin-bottom: 4px;
  }

.kontakt {
    padding-top: 20px;
}

.kontakt p {
    margin-bottom: 4px;
}