<div class="body-container">
  <div class="container-fluid no-padding pt-4">
    <div class="row align-items-center no-padding">
      <div class="col-md-0 col-md-0 d-flex justify-content-center text-center no-padding">
        <div class="wellcome">
          <h3>Willkommen!</h3>
          <div>
            <a class="button-17" href="/item/overview" role="button" aria-expanded="false">
              Unser Sortiment
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center no-padding">
      <div class="col-12 col-md-6 order-2 order-md-1 d-flex justify-content-center text-center no-padding">
        <div class="imgHome"><img src="images/bread-garlic.jpg" alt="backware" height=100% width="65%"></div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2 no-padding">
        <div class="bodytext">
          <p>Morgens aus dem Bett zu kommen und zur Bäckerei zu gehen, kann eine echte Herausforderung sein.
            Lange Warteschlangen und Enttäuschung, wenn das Lieblingsgebäck ausverkauft ist, sind leider auch keine
            Seltenheit.
            Aber das muss nicht mehr sein!</p>
          <p>Unsere Online-Bäckerei bringt Ihnen eine große Auswahl an leckeren Backwaren.
            Egal ob Baguette, Croissant oder Brötchen - wir liefern schnell und zuverlässig. Wenn Sie es lieber abholen
            möchten, ist das auch kein Problem.
            Unser freundliches Team steht bereit, um Ihre Bestellung schnell zusammenzustellen.</p>
        </div>
      </div>

    </div>
    <div class="row align-items-center no-padding">
      <div class="col-md-0 col-md-6 no-padding">
        <div class="bodytext">
          <p>Und das Beste daran? Sie können Ihre Lieblingsbestellung speichern, sodass Sie in Zukunft noch schneller
            bestellen können.
            Ob Sie nun immer denselben leckeren Hefezopf oder das knusprige Vollkornbrot bestellen möchten - mit nurgit
            wenigen Klicks ist Ihre Bestellung auf dem Weg zu Ihnen.
            Und falls Sie Ihre Bestellung lieber am Vortag aufgeben möchten, um Ihren Morgen stressfreier zu gestalten,
            spricht ebenfalls nichts dagegen.
            Unser einfaches Bestellsystem ermöglicht es Ihnen, Ihre Bestellung frühzeitig aufzugeben und somit Ihren Tag
            noch besser zu planen.</p>
        </div>
      </div>
      <div class="col-md-0 col-md-6 d-flex justify-content-center text-center no-padding">
        <div class="imgHome"><img src="images/croissants.jpg" alt="brot" height=100% width="65%"></div>
      </div>
    </div>
    <div class="row align-items-center no-padding">
      <div class="col-12 col-md-6 order-2 order-md-1 d-flex justify-content-center text-center no-padding">
        <div class="imgHome"><img src="images/bakery.jpg" alt="team" height=100% width="65%"></div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2 no-padding">
        <div class="bodytext">
          <p> Neben gutem Service liegt uns auch Ihre Gesundheit am Herzen.
            Wir verwenden nur hochwertige Zutaten und achten darauf, dass unsere Produkte möglichst gesund und
            ausgewogen
            sind.
            Unsere glutenfreien Optionen sind dabei genauso lecker und knusprig wie die klassischen Varianten.</p>
          <p>Probieren Sie jetzt unsere effiziente App aus und genießen Sie jeden Morgen frische und aromatische
            Backwaren
            ohne den Stress und die Zeitverschwendung,
            die Sie sonst erwarten. Wir sind sicher, dass Sie von unserem Service begeistert sein werden. </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center no-padding">
      <div class="col-md-0 col-md-0 d-flex justify-content-center text-center no-padding">
        <div class="easyfrisch-team">
          <h3>Ihr EasyFrisch-Team!</h3>
        </div>
      </div>
    </div>
    <div class="row align-items-center no-padding">
      <div class="col-md-0 col-md-0 d-flex justify-content-center text-center no-padding">
        <div class="bottom">
          <a class="button-17" href="/order" role="button" aria-expanded="false">
            Jetzt Bestellen
          </a>
        </div>
      </div>
    </div>
  </div>

</div>