<div class="main-container">
    <div class="container-fluid no-padding">
        <div class="row no-padding">
          <div class="col-sm-0 col-md-8 no-padding">
            <h3>Lieber Gast!</h3>
             <p>Morgens aus dem Bett zu kommen und zur Bäckerei zu gehen, kann eine echte Herausforderung sein. 
                Lange Warteschlangen und Enttäuschung, wenn das Lieblingsgebäck ausverkauft ist, sind leider auch keine Seltenheit. 
                Aber das muss nicht mehr sein!</p>
             <p>Unsere Online-Bäckerei bringt Ihnen eine große Auswahl an leckeren Backwaren. 
                Egal ob Baguette, Croissant oder Brötchen - wir liefern schnell und zuverlässig. Wenn Sie es lieber abholen möchten, ist das auch kein Problem. 
                Unser freundliches Team steht bereit, um Ihre Bestellung schnell zusammenzustellen.</p>
             <p>Und das Beste daran? Sie können Ihre Lieblingsbestellung speichern, sodass Sie in Zukunft noch schneller bestellen können. 
                Ob Sie nun immer denselben leckeren Hefezopf oder das knusprige Vollkornbrot bestellen möchten - mit nur wenigen Klicks ist Ihre Bestellung auf dem Weg zu Ihnen. 
                Und falls Sie Ihre Bestellung lieber am Vortag aufgeben möchten, um Ihren Morgen stressfreier zu gestalten, spricht ebenfalls nichts dagegen. 
                Unser einfaches Bestellsystem ermöglicht es Ihnen, Ihre Bestellung frühzeitig aufzugeben und somit Ihren Tag noch besser zu planen.</p>
             <p> Neben gutem Service liegt uns auch Ihre Gesundheit am Herzen. 
                Wir verwenden nur hochwertige Zutaten und achten darauf, dass unsere Produkte möglichst gesund und ausgewogen sind. 
                Unsere glutenfreien Optionen sind dabei genauso lecker und knusprig wie die klassischen Varianten.</p>
            <p>Probieren Sie jetzt unsere effiziente App aus und genießen Sie jeden Morgen frische und aromatische Backwaren ohne den Stress und die Zeitverschwendung, 
                die Sie sonst erwarten. Wir sind sicher, dass Sie von unserem Service begeistert sein werden. </p>
            <h3>Ihr EasyFrisch-Team</h3>
          </div>
          <div class="col-sm-0 col-md-4">
            <div class="fotos">

            </div>
          </div>
        </div>
    </div>
</div>