<div class="container">
    <h1 class="mt-5">Nutzungsbedingungen</h1>

    <div class="mt-5">
        <h2>1. Geltungsbereich</h2>
        <p>Willkommen bei unserem Bäckereishop. Diese Nutzungsbedingungen regeln Ihre Nutzung der Website und aller damit verbundenen Dienstleistungen.</p>
    </div>

    <div class="mt-5">
        <h2>2. Registrierung</h2>
        <p>Um bestimmte Funktionen unserer Website nutzen zu können, müssen Sie sich registrieren und ein Benutzerkonto erstellen. Sie stimmen zu, dass alle von Ihnen bereitgestellten Informationen wahrheitsgemäß und aktuell sind.</p>
    </div>

    <div class="mt-5">
        <h2>3. Geistiges Eigentum</h2>
        <p>Die Inhalte auf unserer Website, einschließlich Texte, Bilder, Grafiken, Logos und Software, sind durch Urheberrechte und andere geistige Eigentumsrechte geschützt. Sie dürfen diese Inhalte nicht ohne unsere ausdrückliche Zustimmung reproduzieren, verbreiten, modifizieren oder anderweitig verwenden.</p>
    </div>

    <div class="mt-5">
        <h2>4. Verbotene Aktivitäten</h2>
        <p>Bei der Nutzung unserer Website und Dienstleistungen dürfen Sie keine rechtswidrigen, belästigenden, diffamierenden, bedrohlichen oder schädlichen Handlungen vornehmen. Sie sind auch nicht berechtigt, unsere Website für kommerzielle Zwecke zu nutzen, ohne unsere Zustimmung einzuholen.</p>
    </div>

    <div class="mt-5">
        <h2>5. Datenschutz</h2>
        <p>Wir legen großen Wert auf den Schutz Ihrer persönlichen Daten. Bitte lesen Sie unsere Datenschutzerklärung, um zu erfahren, wie wir Ihre Daten sammeln, verwenden und schützen.</p>
    </div>

    <div class="mt-5">
        <h2>6. Haftungsbeschränkung</h2>
        <p>Wir übernehmen keine Haftung für Schäden oder Verluste, die sich aus der Nutzung unserer Website ergeben. Die Nutzung erfolgt auf eigenes Risiko.</p>
    </div> 
</div>
